<%= render 'shared/navbarwhite' %>
<div class="page-wrapper">
  <div class="tab-wrapper">
    <ul class="list-inline tabs-underlined">
      <% @domains.each do |d| %>
      <li>
        <%= link_to d.name, domain_path(d), class: @class[@domains.index(d)] %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="list-wrapper">
    <% @competencies.each do |c|%>
      <div class="card-flat">
        <div class="flat-card-left">
          <%= link_to c.name, competency_path(c), class:'link-text'%>
        </div>
        <div class="flat-card-right">
          <div>
            <%= c.level.downcase.capitalize %>
          </div>
          <div>
            <p><i class="fas fa-book-open"></i></p>
          </div>
          <div>
            <p><i class="fas fa-chalkboard"></i></p>
          </div>
          <div>
            <p><i class="fas fa-award"></i></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
