<div class="page-wrapper">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Purchase</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Supply</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">CI</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Management</a>
    </li>
  </ul>
</div>
