.card-wrapper {
  // margin-top: 20px;
  margin: 0;
  padding: 100px 80px 80px 80px;
  height: 100vh;
  width: 100vw;
  display: flex;
  // text-align: center;
  justify-content: space-around;
  // background-color: rgb(200,200,200)

  // background-color: rgb(240,240,240);
  // box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.card {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 40vw;
  display: flex;
  margin-bottom: 20px;
  // margin: 10px 10px;
  // padding: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-flat{
  background: white;
  margin: 6px 15px 6px 15px;
  width: 95vw;
  height: 40px;
  border-radius: 10px;
  border-color: rgba(0,0,0,0.2);
  border-shadow: 0 0 15px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: space-between
}
.flat-card-left{
  margin-left: 15px
}
.flat-card-right{
  margin-right: 15px;
  display: flex;
  align-items:center;
  p {
    margin: 0 0 0 0
  };
  div {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px
  }
  // padding: 5px
}

.card-progress{
  display:flex;
  align-items: center;
  display-content: space-between;
  width: 90vw;
  background: white;
  margin:8px 8px 8px 8px;
  border-radius: 10px
}
.card-progress-text{
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 120px;
  font-size: 14px;
  color: rgb(20,20,20);
}
.card-progress-left{
  display:flex;
  align-items: center
}

.vertical-box {
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin-top:15px;
  margin-left:15px;
}
.no-margin {
  margin: 0
}
.margin-bottom {
  margin-bottom: 8px
}

.margin-around{
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px

}
.center{
  display:flex;
  align-items:center
}

   li{
    list-style: none;
    font-size: 14px
   }

.flat-box {
  display:flex;
  align-items: center;
  background: transparent;
  // justify-content: space-around
}

.icon {
  margin-right: 15px;
  color: 2rgb(20,20,20);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: normal;
}
.card-small {
  text-align: center;
  a{
    color: rgb(20,20,20)
  }
}

.card-chart {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  margin: 5px 0 5px 5px
}

.small-text {
  font-size: 12px
}
