a {
  color: white
}
a:hover{
    color: rgb(170,170,170);
    text-decoration: none;
  }

.link-text{
  color: rgb(20,20,20)
}

.link-icon{

}
.link_black{
  a{
    color: rgb(20,20,20)
  }
}

.text-light{
  a{
    color: white
  }
}

